.wrapper {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 4rem 0;
}

.textSectionWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;

  h1 {
    font-size: 2.5rem;
    font-weight: 300;
  }

  span {
    font-weight: 700;
  }
  p {
    font-size: 1rem;
    color: hsla(0, 0%, 100%, 0.6);
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
  }
}

.titleButtonWrapper {
  display: flex;
  justify-content: center;
}

.titleButton {
  display: flex;
  width: fit-content;
  height: 46px;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #fff;
  margin: 2rem 0;

  p {
    cursor: pointer;
  }
}

.circle2 {
  position: absolute;
  width: 80px;
  left: 60%;
  bottom: -50px;
}

.row {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 50%;
  margin: 3rem 0;
  cursor: pointer;
}

.infoWrapper {
  display: flex;
  gap: 1rem;
  color: #fff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  justify-content: space-around;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: -15px;
  }

  p {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  p::after {
    font-size: 12px;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
    line-height: normal;
    letter-spacing: 0.075rem;
  }

  p:nth-child(1)::after {
    content: "Projects";
  }
  p:nth-child(2)::after {
    content: "Experience";
  }
  p:nth-child(3)::after {
    content: "Nationality";
  }
}

.imageSectionWrapper {
  width: 100%;
  position: relative;
}

.absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
  }

  .textSectionWrapper {
    width: 50%;
  }

  .imageSectionWrapper {
    width: 50%;
  }

  .titleWrapper {
    p:last-child {
      max-width: 320px;
    }
  }

  .titleButtonWrapper {
    justify-content: flex-start;
  }

  .infoWrapper {
    justify-content: flex-start;

    p {
      align-items: flex-start;
    }
  }
}
